{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h1 class="text-2xl font-bold text-center mb-6">Create new post</h1>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="max-w-md mx-auto">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media}}
      {% for field in form %}
      <div class="mb-4">
        <div><label for="{{ field.id_for_label }}" class="block font-bold text-gray-700 mb-2">{{ field.label }}: </label></div>
                {{ field }}
            </div>
      {% endfor %}
      <div class="flex items-center justify-between">
        <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4
        rounded focus:outline-none focus:shadow-outline" value="Create" />
      </div>
    </form>

  </div>
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
  <script>
    CKEDITOR.replace('content');
  </script>
{% endblock %}